#footerContainer {
    /* position: fixed;
    bottom: 0; */
    height: 250px;
    background-color: rgb(40, 4, 4);
    color: white;
    text-align: center;
    border: 1px solid rgb(40, 4, 4);
  }
  #footerContainer h4 {
    margin-top: 50px;
  }
  #footerContainer p {
    margin-top: 20px;
  }
  