<div id="footerContainer">
  <h4>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi fugiat
    assumenda ullam, cumque nam reiciendis, delectus porro doloribus quae
    incidunt culpa dolores ratione est, quo adipisci nesciunt ipsum laudantium
    ab! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi fugiat
    assumenda ullam, cumque nam reiciendis, delectus porro doloribus quae
    incidunt culpa dolores ratione est, quo adipisci nesciunt ipsum laudantium
    ab! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi fugiat
    assumenda ullam, cumque nam reiciendis, delectus porro doloribus quae
    incidunt culpa dolores ratione est, quo adipisci nesciunt ipsum laudantium
    ab!
  </h4>
  <p>All CopyRights are Reserved by</p>
  <p>Kabir Sagar</p>
</div>
